{% extends ":Layout:layout_large.html.twig" %}

{% block title %} Catalogue {% endblock %}

{% block content %}
 
    <h3>
        Catégories
        <span class="badge">{{liste_categories|length}}</span>
		<a href="{{path('creer_categorie') }}">
            <button type="button" class="btn btn-default btn-xs" data-toggle="tooltip" data-placement="top" title="Ajouter une catégorie">
                <span class="glyphicon glyphicon-plus"></span>
            </button>
        </a>
    </h3>
    
    <div class="row">
    <ul class="list-group">	
    {% for categorie in liste_categories %}
		<div class="col-lg-4">
        <li class="list-group-item" style="text-align: center">
            {{categorie.libelle|capitalize}}
            <a href="{{ path('editer_categorie', {'categorie_num': categorie.id}) }}">
                <button type="button" class="btn btn-default btn-xs" data-toggle="tooltip" data-placement="top" title="Éditer la categorie"  style="float: right">
                    <span class="glyphicon glyphicon-pencil"></span>
                </button>
            </a>
            <a href="{{ path('supprimer_categorie', {'categorie_num': categorie.id}) }}">
                <button type="button" class="btn btn-default btn-xs" data-toggle="tooltip" data-placement="top" title="Supprimer la categorie" style="float: right">
                    <span class="glyphicon glyphicon-remove"></span>
                </button>
            </a>
        </li>
        </div>
    {% endfor %}
    </ul>
    </div>
    
	{# ARTCICLES #}
    <h3>
        Articles
        <span class="badge">{{liste_articles|length}}</span>
        {% if liste_categories|length > 0 %}
			<a href="{{path('creer_article') }}">
				<button type="button" class="btn btn-default btn-xs" data-toggle="tooltip" data-placement="top" title="Ajouter un article">
					<span class="glyphicon glyphicon-plus"></span>
				</button>
			</a>
		{% endif %}
    </h3>
	<div class="row">
    <ul class="list-group">	
    {% for article in liste_articles %}
		{% include('FragosoBundle:Catalogue:snippet_article.html.twig') %}
    {% endfor %}
    </ul>
    </div>
{% endblock %}
