<html>
<head>
	
</head>
<body>
	<div style="float: right">
		{{commande.client.nomComplet}}<br>
		{{commande.client.adresseComplete}}
	</div>
	<div style="float: left">
		<h3>Fragoso</h3>
	</div>

	<h1 style="text-align: center; margin-top: 50px;"> Facture du {{commande.dateCommande|date('d-M-Y')}} </h1>
	<hr>
	
	<h3>Liste des articles</h3>
	<ul>
		{% for article in commande.articles %}
			{{article.quantite}} x {{article.article.libelle}}<br>
		{% endfor %}
	</ul>

</body>
</html>
