{% extends ":Layout:layout.html.twig" %}

{% block left_nav %}
    <div class="list-group">
		{% if commande_etat == 'en-cours' %}
			<a href="{{path('commande_home')}}"><button type="button" class="btn btn-default btn-lg btn-block">Commandes</button></a>
			<a href="{{path('lister_commande', {'commande_etat': 'en-cours'})}}"><button type="button" class="btn btn-primary btn-lg btn-block">En cours</button></a>
		{% else %}
			<a href="{{path('commande_home')}}"><button type="button" class="btn btn-primary btn-lg btn-block">Commandes</button></a>
			<a href="{{path('lister_commande', {'commande_etat': 'en-cours'})}}"><button type="button" class="btn btn-default btn-lg btn-block">En cours</button></a>
		{% endif %}
	</div>	
    
    {#<div class="list-group launcher">
        <a href="{{ path('creer_commande') }}">
            <button type="button" class="btn btn-default" data-toggle="tooltip" data-placement="top" title="Nouvelle commande">
                <span class="glyphicon glyphicon-plus"></span>
            </button>
        </a>
    </div>#}
{% endblock %}

{% block title %}
	Liste commandes
{% endblock %}

{% block content %}
	<div class="row">
	{% if liste_commandes %}
		<table class="table table-bordered table-striped">
			<tr>
				<th>Action</th>
				<th>N° commande</th>
				<th>Client</th>
				<th>Date</th>
				<th>Nb articles</th>
				<th>Montant</th>
				<th>Remise</th>
			</tr>
		{% for commande in liste_commandes %}
			<tr>
				<td>
					<a href="{{ path('editer_commande', {'client_num': commande.client.id, 'commande_num': commande.id}) }}">
						<button type="button" class="btn btn-xs btn-default" data-toggle="tooltip" data-placement="top" title="Editer commande">
							<span class="glyphicon glyphicon-pencil"></span>
						</button>
					</a>
					<a href="#">
						<button type="button" class="btn btn-xs btn-default" data-toggle="tooltip" data-placement="top" title="Supprimer commande">
							<span class="glyphicon glyphicon-remove"></span>
						</button>
					</a>
				</td>
				<td>{{commande.id}}</td>
				<td>
					<a href="{{ path('afficher_client', {'client_num': commande.client.id}) }}">
						{{commande.client.prenom}} {{commande.client.nom}}
					</a>
				</td>
				<td>{{commande.dateCommande|date}}</td>
				{#<td>{{commande.articles|length}}</td>#}
				<td>{{commande.getNbArticles}}</td>
				<td>{{commande.getPrixTotalTTC}}</td>
				<td>{{commande.getPrixRemise}}</td>
			</tr>
			{# include("FragosoBundle:Commande:snippet_commande.html.twig") #}
		{% endfor %}
		</table>
	{% else %}
		<div class="alert alert-info">pas de commande encore</div>
	{% endif %}
	</div>
{% endblock %}
