{% extends ":Layout:layout.html.twig" %}

{% block left_nav %}
    <div class="list-group">
        <a href="#"><button type="button" class="btn btn-primary btn-lg btn-block">Commandes</button></a>
    </div>
    
    <div class="list-group launcher">
        <a href="{{ path('commande_home') }}">
            <button type="button" class="btn btn-default" data-toggle="tooltip" data-placement="top" title="retour">
                <span class="glyphicon glyphicon-arrow-left"></span>
            </button>
        </a>
    </div>
{% endblock %}

{% block title %}
		Reglement pour la commande du <br>{{commande.dateCommande|date('d M Y')}} de {{commande.client.getNomComplet}}
{% endblock %}

{% block content %}
	<div class="col-lg-6">
		<h4>Montant à payer : {{commande.getResteAPayer}} euros</h4>
		{{ form_start(formulaire, {'attr': {'class': 'form-inline'}}) }}
			<div class="form-group">
				{{ form_errors(formulaire.montant)  }}
				{{ form_widget(formulaire.montant)  }}
			</div><br>
			<div class="form-group">
				{{ form_widget(formulaire.save, {'attr': {'class': 'btn btn-default btn-success'}}) }}
			</div>
			<div class="form-group">
				<a href="{{ path('afficher_client', {'client_num':client.id}) }}" class="btn btn-default btn-danger">
					Abandonner
				</a>
			</div>
		{{ form_end(formulaire) }}
	</div>
	<div class="col-lg-6">
		<h4>Historique des reglements</h4>
			<ul>
				{% for reglement in commande.reglements %}
					<li>
						{{reglement.montant}} euros le {{reglement.date|date('d-M-Y')}}
					</li>
				{% endfor %}
			</ul>
	</div>
{% endblock %}
